/* Reset css  */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  font-size: 36px;
}


body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

}


.sqaure {
  width: 400px;
  height: 400px;
  display: grid;
  place-content: center;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px black;
}

.sqaure p {
  text-align: center;

}

form {
  width: 400px;

}

label {
  position: absolute;
  left: -999999px;
}

input[type="text"] {
  margin-top: 0.5rem;
  padding: 0.25rem;
  width: 100%;
  font-size: 1rem;
  box-shadow: 2px 2px 5px black;
  border-radius: 0.5rem;
  outline: none;
}

button {

  width: 100%;
  margin-top: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 5px black;
  padding: 0.5rem;
}